.todo {
  //padding: 1rem 1.5rem;
  width: min(640px, 100%);
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  background: var(--bg-secundary);
  padding: 0 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center; 
  &__state {
    position: relative;
    border: 2.5px solid var(--Dark-Grayish-Blue);
    background: var(--bg-secundary);
    background-clip: padding-box;
    border-radius: 100px;
    width: 1.4rem;
    aspect-ratio: 1;
    height: 1.4rem;
    cursor: pointer;
    &:hover {
      border-color: transparent;
    }
    &::after{
      content: '';
      position: absolute;
      top: -2.5px;
      bottom: -2.5px;
      left: -2.5px;
      right: -2.5px;
      background: var(--Check-Background);
      z-index: -1;
      border-radius: 100px;
    }
  }
  input[type="checkbox"] {
    display: none;
    &:checked ~ label {
      background: var(--Check-Background);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='9'%3E%3Cpath fill='none' stroke='%23FFF' stroke-width='2' d='M1 4.304L3.696 7l6-6'/%3E%3C/svg%3E"); 
      background-repeat: no-repeat;
      background-position: center;
      
      border-radius: 100px;
      border-color: var(--bg-secundary);
      
    }
  }
  form {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  &__input {
    padding: 1.2rem 1em;
    font-size: 16px;
    border: none;
    width: 100%;
    background-color: transparent; 
    color: var(--text-color);
    &:focus {
      outline: none;
    }
  }
}
